@model ConfigurationModel;

@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="Skrill" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                <p>
                    For plugin configuration follow these steps:<br />
                    <br />
                    1. Create a merchant account at <a href="https://signup.skrill.com/onboarding/#/?rdu=onboarding&rid=@Defaults.ReferralId" target="_blank">skrill.com</a><br />
                    2. Go to <b>Settings > Developer Settings</b><br />
                    3. Please tick the box for MQI/API password to activate them.<br />
                    4. Add your server IP for the MQI and API<br />
                    5. Create <b>MQI/API password</b>. You must use a separate password from the one used for your Skrill Digital Wallet. This ensures that you can change your Skrill Digital Wallet account without affecting the API or MQI<br />
                    6. In the <b>Secret Word</b> field, create your secret word (should be minimum 8 characters, one digit or one special character)<br />
                    7. To apply your changes, click <b>Save</b><br />
                    8. Please copy your secret word and API/MQI password into the below shown fields<br />
                    9. Save<br />
                    <br />
                </p>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PaymentFlowTypeId_OverrideForStore" asp-input="PaymentFlowTypeId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PaymentFlowTypeId" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="PaymentFlowTypeId" asp-items="Model.PaymentFlowTypes" />
                        <span asp-validation-for="PaymentFlowTypeId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MerchantEmail_OverrideForStore" asp-input="MerchantEmail" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MerchantEmail" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MerchantEmail" asp-required="true" />
                        <span asp-validation-for="MerchantEmail"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="SecretWord_OverrideForStore" asp-input="SecretWord" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="SecretWord" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SecretWord" asp-required="true" asp-value="@Model.SecretWord" />
                        <span asp-validation-for="SecretWord"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Password_OverrideForStore" asp-input="Password" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Password" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Password" asp-value="@Model.Password" />
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 offset-3">
                        <input type="submit" name="save" class="btn btn-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>